<div class="container py-4 py-xl-5" style="background: #93bde4;font-family: Montserrat, sans-serif;">
  <div class="row row-cols-1 row-cols-md-2">
    <%= render 'shared/show_card' %>
    <button class="btn btn-primary" type="button" style="margin-bottom: 0px;margin-top: 0px;background: #212529;font-size: 18px;">Rent painting</button>
  </div>
</div>
