<div class="container py-4 py-xl-5">
  <div class="row gy-4 row-cols-1 row-cols-md-2 row-cols-xl-3">
    <div class="col">
      <div>
        <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 500px;" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Flapiedradesisifo.com%2Fwp-content%2Fuploads%2F2014%2F06%2Furl6456345673.jpg&f=1&nofb=1&ipt=170d520fa664d8dba880d27fbe7c053e280ca238750c0065d588e390cb7f2a5e&ipo=images" />
          <div class="py-4">
            <h2>"El sueño de la razón produce monstruos""</h2>
            <p>Artist: <strong>Francisco Goya</strong></p>
            <p>Year: <strong>c. 1799</strong></p>
            <p>Status <strong>Available</strong></p>
            <p>Price <strong>Donation</strong></p>
          </div>
      </div>
    </div>
    <div class="col">
      <div>
        <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 500px;" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Flapiedradesisifo.com%2Fwp-content%2Fuploads%2F2014%2F06%2Furl6456345673.jpg&f=1&nofb=1&ipt=170d520fa664d8dba880d27fbe7c053e280ca238750c0065d588e390cb7f2a5e&ipo=images" />
          <div class="py-4">
            <h2>"El sueño de la razón produce monstruos""</h2>
            <p>Artist: <strong>Francisco Goya</strong></p>
            <p>Year: <strong>c. 1799</strong></p>
            <p>Status <strong>Available</strong></p>
            <p>Price <strong>Donation</strong></p>
          </div>
      </div>
    </div>
    <div class="col">
      <div>
        <img class="rounded img-fluid d-block w-100 fit-cover" style="height: 500px;" src="https://external-content.duckduckgo.com/iu/?u=http%3A%2F%2Flapiedradesisifo.com%2Fwp-content%2Fuploads%2F2014%2F06%2Furl6456345673.jpg&f=1&nofb=1&ipt=170d520fa664d8dba880d27fbe7c053e280ca238750c0065d588e390cb7f2a5e&ipo=images" />
          <div class="py-4">
            <h2>"El sueño de la razón produce monstruos""</h2>
            <p>Artist: <strong>Francisco Goya</strong></p>
            <p>Year: <strong>c. 1799</strong></p>
            <p>Status <strong>Available</strong></p>
            <p>Price <strong>Donation</strong></p>
          </div>
      </div>
    </div>
  </div>
</div>
