<div class="banner" title="Photo by Trevor Good">
  <div class="container">
    <%= link_to 'Check out our stock!', paintings_path, class: "btn btn-gradient" %>
    <h1>Show your style and rent a painting now!</h1>
  </div>
</div>
