img {
  width: 100%; /* or any custom size */
  height: 100%;
  // object-fit:scale-down;
}

.card-title {
  text-decoration: underline;
  text-decoration-color: white ;
}

.card-text{
  text-decoration: underline;
  text-decoration-color: white ;
}
